accelerate==0.6.0.dev0
datasets==2.5.1
evaluate==0.2.2
gpustat==0.6.0
matplotlib==3.5.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
pandas==1.4.1
python==3.8.12
scikit-learn==1.0.2
tensorboard==2.8.0
tensorboardX==2.4.1
tokenizers==0.11.5
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.62.3
transformers==4.16.2
nltk==3.8.1